<link rel="stylesheet" href="/frontEnd/assets/css/exams.css" />
<%- include("../include/head.ejs") %>
  <%- include("../include/navebar.ejs") %>
    <%- include("../include/notification.ejs") %>


      <div class="exams py-5">
        <div class="container">
          <h1>All Exams</h1>
          <div class="row">
            <% allTesting.forEach((element, i)=> { %>
              <div class="col-md-6 col-lg-4">
                <a href="/enterExam/<%= element.id %>" class="exam-card">
                  <div class="box">
                    <h2>
                      <%= element.name %>
                    </h2>
                    <p>
                      <strong>Code:</strong>
                      <%= element.code %>
                    </p>
                    <p>
                      <strong>Type:</strong>
                      <%= element.type %>
                    </p>
                  </div>
                </a>
              </div>
              <% }) %>
          </div>
        </div>
      </div>

      <%- include("../include/footer.ejs") %>
        <%- include("../include/footerScript.ejs") %>
          <script src="/frontEnd/assets/js/main.js"></script>
          <script src="/frontEnd/assets/js/vendors.min.js" type="text/javascript"></script>
          <script src="/frontEnd/assets/js/select2.full.min.js" type="text/javascript"></script>
          <script src="/frontEnd/assets/js/form-select2.js" type="text/javascript"></script>